{%extends 'base.html'%}
{% load static %}
{% block content %} 
{{ block.super}}
<h2>Categories</h2>
<div class="col-lg-12">

{%for category in allcategories%}
<!-- imagecards -->
<div class="col-lg-4">

<div class="card card-image" style="background-image: url({{category.category_logo.url}});">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="white-text"><i class="fas fa-chart-pie"></i>{{category.category}}</h5>
    <a class="btn btn-grey"><i class="fas fa-clone left"></i> View Photos</a>
  </div>
</div>

</div>
</div>

<!-- Card -->
{%endfor%}

</div>



{% endblock %}