<div class="navigation">
    <nav class="navbar">
        <div class="nav-links">
            <a href="#" class="navbar-brand">HOME</a>
            <!-- <a href="{% url 'shots:allcategories' %}" class="navbar-brand">CATEGORIES</a> -->
            <!-- <a href="{% url 'shots:alllocations' %}" class="navbar-brand">LOCATION</a> -->
            <a href="{% url 'shots:nairobi' %}" class="navbar-brand">NAIROBI</a>
            <a href="{% url 'shots:diani' %}" class="navbar-brand">DIANI</a>

            
        </div> 
    </nav>
</div> 
    
